In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
df = pd.read_csv('treino.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88858 entries, 0 to 88857
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       88858 non-null  object
 1   Estimated_Insects_Count  88858 non-null  int64
 2   Crop_Type                88858 non-null  int64
 3   Soil_Type                88858 non-null  int64
 4   Pesticide_Use_Category   88858 non-null  int64
 5   Number_Doses_Week        88858 non-null  int64
 6   Number_Weeks_Used        79858 non-null  float64
 7   Number_Weeks_Quit        88858 non-null  int64
 8   Season                   88858 non-null  int64
 9   Crop_Damage              88858 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 6.8+ MB

In [ ]:
df.head()

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1